.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  color: white;
  font-size: calc(10px + 2vmin);
}

body{
  margin:0;
  padding:0;
}